@font-face {
    font-family: 'fontjubatus';
    src:  url('/font/fontjubatus.eot?bw1dag');
    src:  url('/font/fontjubatus.eot?bw1dag#iefix') format('embedded-opentype'),
    url('/font/fontjubatus.ttf?bw1dag') format('truetype'),
    url('/font/fontjubatus.woff?bw1dag') format('woff'),
    url('/font/fontjubatus.svg?bw1dag#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="fj-"], [class*=" fj-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fontjubatus' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fj-logo-new:before {
    content: "\e900";
}
.fj-logo-jub:before {
    content: "\e901";
}
.fj-logo-bg-jub:before {
    content: "\e902";
}
.fj-logo:before {
    content: "\e903";
}
.fj-logo-wobg-jub:before {
    content: "\e904";
}
.fj-logo-simple:before {
    content: "\1f300";
}
